@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

.App {
  text-align: center;
}

:root{
  --primary: rgba(255, 133, 46, 0.644);
  --secondary: #01605A;
  --accents: #FFD0A8;
  --input-red: #E21A4B;
  --input-green: #46d110;
  --font-primary: #003734;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html{
  font-size: 62.5%;
}

body{
  font-family: 'Coiny', cursive;
  font-size: 1.6rem;
}

a{
  text-decoration: none;
}
